<div class="flex justify-start items-center text-lg font-bold gap-8 mt-8 mb-8">
  <a href="{{ routes.account_url }}" class="flex items-center gap-2 {% if template.name == "account" %} text-[#777] {% endif %}">
    <p>Account Details</p>
  </a>

  <a href="{{ routes. }}" class="flex items-center gap-2 {% if template.name == "order" %} text-[#777] {% endif %}">
    <p>Order history</p>
    <span>{{ customer.orders_count | prepend: '00' | slice: -2, 2 }}</span>
  </a>
</div>

