{% style %}
    .subcollection {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 0 20px 0;
        position: relative;
        width: 100%;
    
    
        .subcollection-image {
            width: inherit;
            height: inherit;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            transition: all 0.5s ease-in-out;
        }
    
        .subcollection:hover .subcollection-image{
            transform: scale(1.1);
        }
    }
    {% endstyle %}
    
    <div>
        <div class="subcollection">
            {% assign subcollection = collection %}
            {% assign subcollection_image = subcollection.image | default: subcollection.featured_image %}
            {% assign subcollection_image = subcollection_image | img_url: 'master' %}
            <div class="subcollection">
                <a href="{{ subcollection.url }}" class="overflow-hidden w-full h-[400px] cursor-pointer">
                    <div class="subcollection-image" style="background-image: url({{ subcollection_image }})"></div>
                </a>
                <a href="{{ subcollection.url }}" class="subcollection-title w-full text-left mt-4 cursor-pointer">
                    <h2 class="uppercase font-bold">{{ subcollection.title }}</h2>
                </a>
            </div>
        </div>
    </div>