{% style %}
  .footer-logo {
    text-align: justify;
    font-size: clamp(9.5vw, 19.5vw, 20vw);
    font-weight: 700;
  }

  .footer-logo:after {
    content: "{{ section.settings.title }}";
    display: inline-block;
    width: 100%;
  }
{% endstyle %}

<div class="footer h-auto py-8 w-full">
  <div class="container gap-[20px] md:gap-0 flex flex-col items-center justify-around mx-auto">
    <div class="footer-logo flex justify-center items-center gap-2 truncate mb-8"></div>

    <div class="w-[90%] md:w-[97%] mx-auto flex justify-between items-start flex-col md:flex-row">
      <nav class="flex w-full md:w-[50%] mx-auto gap-4 flex-col md:flex-row justify-between items-start [&>div>h1]:mb-4 flex-wrap">
        {% for link in linklists['footer'].links %}
          {% if link.links != blank %}
            <div class="mb-8 md:mb-0 [&>ul>a]:block [&>ul>a]:text-[#777777] [&>ul>a]:my-2">
              <h1 class="font-bold">{{ link.title }}</h1>
              <ul>
                {% for sublink in link.links %}
                  <a href="{{ sublink.url }}">
                    <li>{{ sublink.title }}</li>
                  </a>
                {% endfor %}
              </ul>
            </div>
          {% endif %}
        {% endfor %}
      </nav>

      <div class="w-full md:w-[30%] mx-auto mb-8 md:mb-0">
        <h1 class="font-bold">Subscribe to Our Newsletter</h1>
        <p class="mb-4">Join us for exclusive product features, studio insights, and early access.</p>
        <div class="w-full relative">
            <input type="email" placeholder="Email Address" class="absolute w-[90%] bg-transparent border-b border-solid border-gray-700 p-4 text-[#777] outline-none"/>
            <div class="absolute right-10 top-6 text-[#777]">{% render "icon-right" %}</div>
        </div>
      </div>
    </div>

    {% if section.settings.show_disclaimer %}
        <div class="disclaimer my-8 mt-8">
            <p class="text-[#6B7280] font-bold">All Right Reserved @2024 - River Island</p>
        </div>
    {% endif %}
  </div>
</div>

{% schema %}
  {
    "name": "Footer",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default": "River Island",
        "info": "This is the footer title."
      },
      {
        "type": "checkbox",
        "id": "show_disclaimer",
        "label": "Show Disclaimer",
        "default": true
      }
    ]
  }
{% endschema %}