{% assign handle = request.query.handle %}
{% assign subcollection = collections[handle] %}
{% if subcollection %}
    {% assign products = subcollection.products %}
    {% for product in products %}
        {% include 'product-card', product: product %}
    {% endfor %}
{% else %}
    <p>No products found for this collection.</p>
{% endif %}