<style>
  .register {
    form {
      display: flex;
      flex-direction: column;

      label:not([for="accepts-marketing"]) {
        visibility: hidden;
      }

      input {
        border-bottom: 1px solid #D1D5DB;
        padding: 5px;
        color: #000;
        outline: none;
      }

      input:focus {
        border-bottom: 1px solid #000;
      }

      input::placeholder {
        color: #D1D5DB;
      }
    }
  }

  /* Custom checkbox */
  /* The container */.check-container {
    display: block;
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  /* Hide the browser's default checkbox */
  .check-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 3px;
    left: 0;
    height: 15px;
    width: 15px;
    background-color: #fff;
    border: 2px solid #000;
    border-radius: 2px;
  }

  /* On mouse-over, add a grey background color */
  .check-container:hover input ~ .checkmark {
    border: 2px solid #777;
  }

  /* When the checkbox is checked, add a blue background */
  .check-container input:checked ~ .checkmark {
    background-color: #000;
  }

  .forgot-password{
    display: flex;
    flex-direction: column;
  }
</style>

<div x-data="{showForgotPassword: false}" class="cwidth flex flex-col-reverse md:flex-row items-start justify-start gap-16 md:gap-32 !mt-16">
  {% render "auth-aside" %}

  <div class="register w-[90%] md:w-[40%] mx-auto md:mx-0">
    <div>
      <h1 class="text-xl mb-4 font-bold">Already have an account</h1>
      <p>Have an account already? Login by entering your details below</p>
    </div>

    {% form 'customer_login' %}

      <div class="mt-4">{{ form.errors | default_errors }}</div>

      <label for="customer_email">Email Address</label>
      <input
        type="email"
        placeholder="Enter email address"
        name="customer[email]" />

      <label for="customer_password">Password</label>
      <input
        type="password"
        placeholder="Password"
        name="customer[password]" />

      <button type="submit" class="my-4 w-full inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium text-white bg-black hover:bg-white hover:text-black hover:border-black focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500">Create an account</button>

      <div class="flex justify-between items-center my-4">
        <a @click="showForgotPassword = !showForgotPassword" class="font-bold cursor-pointer">Forgot password?</a>

        <a class="font-bold text-left" href="{{ routes.root_url }}">Continue as guest</a>
      </div>
    {% endform %}

    <div x-show="showForgotPassword" class="forgot-password">
      {% form 'recover_customer_password' %}
        {{ form.errors | default_errors }}

        <div class="email w-full">
          <label for="email">Email</label>
          <input class="w-full" type="email" placeholder="Enter your email" name="email">
        </div>

        <div class="submit">
          <button type="submit" class="my-4 w-full inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium text-white bg-black hover:bg-white hover:text-black hover:border-black focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500">Submit</button>
        </div>
      {% endform %}
    </div>
  </div>
</div>