<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-element-bundle.min.js"></script>

<div class="collection" x-data="{showFilters: false}">

  <div class="cwidth flex flex-col md:flex-row justify-start mx-auto items-center gap-8 !my-16">
    <h1 class="text-3xl font-bold w-[90%] md:w-[30%]">
      Explore Our<br/> {{ collection.title }} Collections
    </h1>
    <p class="text-lg w-[90%] md:w-[50%]">
      {{ collection.description | strip_html }}
    </p>
  </div>

  {% if section.settings.show_subcollections %}
    <div class="subcollections cwidth">
      <div class="w-full">
        <div class="mobile-subcollection">
          <swiper-container class="mySwiper" init="false">
            {% for collection in section.settings.subcollections limit: section.settings.products_per_page %}
              <swiper-slide>
                {% render "subcollection"
                  , collection: collection %}
              </swiper-slide>
            {% endfor %}
          </swiper-container>
        </div>
      </div>
    </div>
  {% endif %}

  {% render "filter-sort", collection: collection %}

  <div class="cwidth cards my-8 w-full mx-auto flex flex-col items-center justify-center">
    {% paginate collection.products by 2 %}
      <div class="flex flex-col md:flex-row gap-16 justify-between items-start w-full my-4">
        <div
          class="w-[90%] md:w-[30%]"
          x-cloak
          x-show="showFilters">
          {% render "filter"
            , collection_new: collection %}
        </div>

        <div class="w-full">
          <div data-next-url="{{paginate.next.url}}" class="products justify-center md:justify-start collection grid gap-8">
            {% for product in collection.products %}
              {% assign prod_id = forloop.index | plus: paginate.current_offset %}
              <div>
                {% render "product-card"
                  , product: product %}
              </div>
            {% else %}
              <p>No products found.</p>
            {% endfor %}
          </div>
          <div class="load-more mx-auto">
            <button class="btn" id="load-more">Load More</button>
            <div class="load-more_spinner"></div>
          </div>
        </div>
      </div>
    {% endpaginate %}
  </div>
</div>

{% schema %}
  {
    "name": "Collection Dining Room",
    "settings": [
      {
        "type": "checkbox",
        "id": "show_subcollections",
        "label": "Check this to show subcollections",
        "default": false
      }, {
        "type": "collection_list",
        "id": "subcollections",
        "label": "Add your Subcollections here"
      }, {
        "type": "range",
        "id": "products_per_page",
        "label": "Products per page",
        "min": 1,
        "max": 10,
        "step": 1,
        "default": 4
      }
    ]
  }
{% endschema %}

<script>
    const swiperEl = document.querySelector('swiper-container')
  
    const params = {
      injectStyles: [`
      .swiper-pagination{
        display: flex;
        justify-content: flex-end;
      }
  
      .swiper-pagination-bullet {
        width: 20px;
        height: 20px;
        text-align: center;
        line-height: 20px;
        font-size: 18px;
        color: #000;
        background: transparent;
        opacity: 1;
      }
  
      .swiper-pagination-bullet-active {
        color: #777;
      }
      `],
      // change slidesperview based on window size
      breakpoints: {
        640: {
          slidesPerView: 1,
          spaceBetween: 20,
        },
        768: {
          slidesPerView: 2,
          spaceBetween: 20,
        },
        1024: {
          slidesPerView: 3,
          spaceBetween: 20,
        },
      },
      pagination: {
        clickable: true,
        renderBullet: function (index, className) {
          // prepend 0 to index if less than 10
          index = index + 1;
          if (index < 10) {
            index = '0' + index;
          }
          return '<span class="' + className + '">' + (index) + "</span>";
        },
      },
    }
  
    Object.assign(swiperEl, params)
  
    swiperEl.initialize();
</script>