{% style %}
  .wishlist__grid {
    grid-template-columns: repeat(auto-fit, minmax(200px, 320px));
    gap: 20px;

    @media only screen and (max-width: 500px) {
      grid-template-columns: repeat(auto-fit, minmax(180px, 240px));
    }
  }

  .product-card {
    .card {
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      width: 100%;
      transition: all ease-in-out 0.5s;
    }

    .card-container {
      overflow: hidden;
    }

    .card-container:hover .card {
      transform: scale(1.1);
    }
    .overlay {
      opacity: 0;
      transition: all ease-in-out 0.3s;
      z-index: -1;
    }

    .card-container:hover .overlay {
      opacity: 1;
      z-index: 1;
    }
  }
{% endstyle %}

<div class="cwidth">
  <div class="w-full mx-auto md:mx-0">
    {% render "cart-nav" %}

      <div class="wishlist__grid w-full md:justify-start justify-center grid gap-8" grid-wishlist>
      {% comment %} Sample loading element {% endcomment %}
      <p class="wishlist__loader w-full text-center">Loading...</p>
    </div>
  </div>
</div>