<div class="w-full my-8">
    <div class="w-[97%] mx-auto">
        <h1 class="font-bold uppercase mb-8">Sustainability</h1>
    </div>

    <div class="w-[97%] mx-auto flex flex-col md:flex-row gap-16 items-start">
        <div class="w-[90%] md:w-[20%]">
            <div class="[&>p]:mb-4 [&>p]:font-bold">
                <p>Shipping</p>
                <p>Care & materials</p>
                <p>Process</p>
                <p>Returns</p>
            </div>
        </div>

        <div class="w-[90%] md:w-[60%]">
            <div class="mb-8">
                <h1 class="font-bold uppercase mb-8">Shipping</h1>

                <div class="border-b border-solid border-[#E5E7EB] pb-8">
                    <div>
                        <h1 class="font-bold mb-4">Vorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit?</h1>
                        <p>Horem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit interdum, ac aliquet odio mattis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
                    </div>
                </div>
            </div>

            <div class="mb-8">
                <h1 class="font-bold uppercase mb-8">Care & materials</h1>

                <div class="border-b border-solid border-[#E5E7EB] pb-8">
                    <div>
                        <h1 class="font-bold mb-4">Vorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit?</h1>
                        <p>Horem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit interdum, ac aliquet odio mattis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
                    </div>
                </div>
            </div>

            <div class="mb-8">
                <h1 class="font-bold uppercase mb-8">Process</h1>

                <div class="border-b border-solid border-[#E5E7EB] pb-8">
                    <div>
                        <h1 class="font-bold mb-4">Vorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit?</h1>
                        <p>Horem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit interdum, ac aliquet odio mattis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
                    </div>
                </div>
            </div>

            <div class="mb-8">
                <h1 class="font-bold uppercase mb-8">Returns</h1>

                <div class="border-b border-solid border-[#E5E7EB] pb-8">
                    <div>
                        <h1 class="font-bold mb-4">Vorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit?</h1>
                        <p>Horem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit interdum, ac aliquet odio mattis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>