<style>

</style>

<div class="h-[100px] font-bold cwidth flex flex-col md:flex-row justify-start md:gap-16 items-center">
    <h2 class="text-2xl md:w-[150px]">Check Us Out On Instagram</h2>
    <a class="text-xl">@riverisland</a>
</div>